/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles for WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light gray background for the track */
}

::-webkit-scrollbar-thumb {
    background: #d3d3d3; /* Light gray color for the thumb */
    border-radius: 10px; /* Rounded corners for a smoother look */
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0; /* Darker gray on hover */
}

/* Custom Scrollbar Styles for Firefox */
.scrollable-element {
    scrollbar-width: thin; /* Make scrollbar thin */
    scrollbar-color: #d3d3d3 #f0f0f0; /* Thumb color and track color */
}